
*.dll
*.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SCPDiscordLogs.csproj.CopyComplete
obj/Debug/SCPDiscordLogs.csproj.CoreCompileInputs.cache
obj/Debug/SCPDiscordLogs.csproj.FileListAbsolute.txt
obj/Debug/SCPDiscordLogs.csprojAssemblyReference.cache
.vs/SCPDiscordLogs/v16/.suo
SCPDiscordLogs/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csproj.CopyComplete
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csproj.CoreCompileInputs.cache
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csproj.FileListAbsolute.txt
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csprojAssemblyReference.cache
