
*.dll
*.pdb
obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/SCPDiscordLogs.csproj.CopyComplete
obj/Debug/SCPDiscordLogs.csproj.CoreCompileInputs.cache
obj/Debug/SCPDiscordLogs.csproj.FileListAbsolute.txt
obj/Debug/SCPDiscordLogs.csprojAssemblyReference.cache
.vs/SCPDiscordLogs/v16/.suo
SCPDiscordLogs/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csproj.CopyComplete
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csproj.CoreCompileInputs.cache
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csproj.FileListAbsolute.txt
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csprojAssemblyReference.cache
SCPDiscordLogs/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SCPDiscordLogs/SCPDiscordLogs.nuspec
*.nupkg
*.ico
packages/Qurre.1.3.9/LICENSE.txt
packages/Qurre.1.3.9/images/qurre_ol.png
packages/Qurre.1.3.9/.signature.p7s
SCPDiscordLogs/obj/Debug/SCPDiscordLogs.csproj.AssemblyReference.cache
